*{
    margin:0px;
    padding:0px;
}
.header{
    background-color: rgb(83, 215, 255);
    height: 200px;
}
.head
{
    text-align: center;
    padding-top: 50px;
}
.para
{
    text-align: center;
}
.header hr{
    width :50%;
    margin: auto;
    margin-top:20px;
    margin-bottom: 20px;
    border:1px solid black;
}
.navbar{
    background-color: rgb(0, 0, 87);
    padding: 10px;
    position: sticky;
    top:0px
}
.navbar ul li{
    display:inline-block;

}
.navbar ul li a{
    list-style: none;
    text-decoration: none;
    color:white;
    font-size: 22px;
    cursor: pointer;
    margin: 0px 10px;
    padding: 5px 10px;
    
}
.navbar ul li a:hover{
    background-color: rgb(0, 91, 209);
    border-radius: 20px;
}
.navbar ul{
    width:100%;
    text-align: center;
}

.card1{
    width: 250px;
    height: 90%;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 20px rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card2{
    width: 250px;
    height: 100%;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 20px rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px;
}
.card3{
    width: 250px;
    height: 90%;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 20px rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width:250px;
    height:200px;
    position: center center;
    appearance: no-repeat;
    size:cover;
}

.line1{
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}
.line2{
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 50px;
}
 h1, p{
    padding: 20px;
    font-weight: 14px;
}
.btn{
    background-color: black;
    color: white;
    outline: none;
    padding: 5px 10px;    
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
    width:50%;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(63, 63, 63);
}
#img{
    width: 180px;
    height: 180px;
    margin-top: 5px;
}